In [1]:
arr = [1,2,3,4,5]

for elem in arr:
    print(elem)

1
2
3
4
5

In [9]:
for a in range(5): #5 will not be included 
    print(a, "ardam")

0 ardam
1 ardam
2 ardam
3 ardam
4 ardam

In [11]:
for number in range(12):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11

In [12]:
for number in range(1,15):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [16]:
for number in range(10,):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [17]:
cities= ["khi","lhr","qutta"]

In [18]:
cities

['khi', 'lhr', 'qutta']

In [22]:
for city in cities:
    print(r"the city under considration is {city}")

the city under considration is {city}
the city under considration is {city}
the city under considration is {city}