In [4]:
data = ["kamran", 27, 35000, "S.E"]

In [5]:
data

['kamran', 27, 35000, 'S.E']

In [6]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
data[0]

'kamran'

In [9]:
data.append("01 jan 2019")

In [10]:
data

['kamran', 27, 35000, 'S.E', '01 jan 2019']

In [12]:
data.insert(2,"aziz")
data

['kamran', 27, 'aziz', 35000, 'S.E', '01 jan 2019']

In [13]:
data.clear()

In [14]:
data

[]

In [15]:
data = ['kamran', 27, 'aziz', 35000, 'S.E', '01 jan 2019']

In [16]:
newData = data.copy()

In [17]:
data.remove('S.E')

In [18]:
data

['kamran', 27, 'aziz', 35000, '01 jan 2019']

In [19]:
data.pop()

'01 jan 2019'

In [20]:
data

['kamran', 27, 'aziz', 35000]

In [21]:
data.pop(2)

'aziz'

In [22]:
del data[1]

In [23]:
data

['kamran', 35000]

In [24]:
newData

['kamran', 27, 'aziz', 35000, 'S.E', '01 jan 2019']

In [25]:
data = newData.copy()

In [26]:
data[4]

'S.E'

In [27]:
data

['kamran', 27, 'aziz', 35000, 'S.E', '01 jan 2019']

In [28]:
data[-4]

'aziz'

In [29]:
data1 = [1,2,3,3,4,4,5,6,7,8,8,9]

In [30]:
data1.count(3)

2

In [31]:
data1.reverse()

In [32]:
data1

[9, 8, 8, 7, 6, 5, 4, 4, 3, 3, 2, 1]

In [33]:
data1.sort()

In [34]:
data1

[1, 2, 3, 3, 4, 4, 5, 6, 7, 8, 8, 9]

In [35]:
data1.sort(reverse=True)

In [36]:
data1

[9, 8, 8, 7, 6, 5, 4, 4, 3, 3, 2, 1]

In [38]:
reversed(data1)

In [39]:
for value in reversed(data1):
    print(value)

1
2
3
3
4
4
5
6
7
8
8
9

In [40]:
data1

[9, 8, 8, 7, 6, 5, 4, 4, 3, 3, 2, 1]

In [41]:
data

['kamran', 27, 'aziz', 35000, 'S.E', '01 jan 2019']

In [42]:
data.index("aziz")

2

In [43]:
[1,2,3,4,5,6,7,8,9,10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
range(20)

range(0, 20)

In [46]:
for j in range(5):
    print(j)

0
1
2
3
4

In [47]:
for t in range(15):
    print(t)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [49]:
for i in range(1,17,2):
    print(i)

1
3
5
7
9
11
13
15

In [50]:
list(range(1,17))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [51]:
data[2:6]

['aziz', 35000, 'S.E', '01 jan 2019']

In [52]:
data[2:6:2]

['aziz', 'S.E']

In [53]:
data

['kamran', 27, 'aziz', 35000, 'S.E', '01 jan 2019']

In [57]:
data[2:5:]

['aziz', 35000, 'S.E']

In [58]:
mydata= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [59]:
mydata[2:10]

[3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
mydata[1:10:2]

[2, 4, 6, 8, 10]

In [63]:
mydata.append("5")

In [64]:
mydata

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, '5']

In [65]:
mydata.append(4)

In [66]:
mydata

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, '5', 4]

In [67]:
mydata.remove("5")

In [68]:
mydata

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 4]

In [70]:
mydata.pop(-1)

4

In [71]:
mydata

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [72]:
pakistanwon = True

In [73]:
pakistanwon = False

In [74]:
2 == 3

False

In [75]:
2<3

True

In [76]:
2 >3

False

In [86]:
username = "qasim"
password = "ardam"

if username == "qasim" and password == "ardam":
    print("Logged in")
else:
    print("not Logged in")

Logged in

In [87]:
username == "qasim"

True

In [88]:
password == "ardam"

True

In [89]:
username == "qasim" and password == "ardam"

True

In [90]:
username == "qasim" and password == "ardm"

False